" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h39q75
" Find more examples here: https://jb.gg/share-ideavimrc
"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
" goland无效
" set scrolloff=6

" -------------- (基础配置) --------------
" space作为leader键
let mapleader =" "
" 增量搜索，更快的搜素预览
set incsearch
" vim与系统剪贴板互通,刷leetcode方便
set clipboard+=unnamed
" utf-8编码
set encoding=utf-8
" 终端utf-8编码
set termencoding=utf-8
" -------------- (基础配置) --------------





" -------------- (插件)vim plugin,IDEA只能支持有限的插件 --------------
" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied texb
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" Easy Motion <leader><leader>+s文内跳转
Plug 'easymotion/vim-easymotion'
" -------------- (插件)vim plugin,IDEA只能支持有限的插件 --------------





" --------------模式(mode)--------------
" jj:insert->normal模式
inoremap jj <ESC>
" jj:visual->normal模式
vnoremap qq <ESC>
" --------------模式(mode)--------------





" -------------- 移动(motion)map==>使用m作为prefix --------------
" motion tail
nnoremap mt $
" motion head
nnoremap mh 0
" motion down/up/left/right 5 lines
nnoremap mjj 5j
nnoremap mkk 5k
" 用处有限且和motion tail/head冲突
"nnoremap mhh 5h
"nnoremap mll 5l
" -------------- 移动(motion)map==>使用m作为prefix --------------





" -------------- 文件(file)map==>使用f作为prefix --------------
nnoremap fs :w<CR>
nnoremap fq :wq<CR>
nnoremap fe :e
nnoremap ff :find<CR>
" ideaVim不支持
" nnoremap fd :!rm<CR>
" 跳转到上一个文件,IDEA不要打开太多文件，不然这个命令近似无效
nnoremap fl :bp<CR>
" 跳转到下一个文件
nnoremap fn :bn<CR>
" -------------- 文件(file)map==>使用f作为prefix --------------





" -------------- 文本(text)map==>使用t作为prefix --------------
" 选中至首尾
nnoremap tt v$
nnoremap th v^
" 选中至单词
nnoremap tb vb
nnoremap tw vw
nnoremap te ve
" 行首编辑
nnoremap ti I
" 行尾编辑
nnoremap ta A
" 大小写变更 upper
nnoremap tu gUl
nnoremap tl gul
" -------------- 文本(text)map==>使用t作为prefix --------------





" -------------- 窗口(window)map==>使用w作为prefix==>因为w在vim默认键盘映射中，因此需要加入先导键<leader> --------------
nnoremap <leader>ws :split
nnoremap <leader>wv :vsplit
" 分屏依次切换到下一个窗口
nnoremap <leader>wn <C-w>w
" 分屏切换到上下左右
nnoremap <leader>wk <C-w>k
nnoremap <leader>wj <C-w>j
nnoremap <leader>wh <C-w>h
nnoremap <leader>wl <C-w>l
" -------------- 窗口(window)map==>使用w作为prefix --------------





" -------------- 搜素替换(search/replace)mpa==>使用s作为prefix --------------
nnoremap ss /
nnoremap sr :%s/
" -------------- 搜素替换(search/replace)mpa==>使用s作为prefix --------------





" -------------- 寄存器(register)map==>使用r作为prefix --------------
nnoremap ' "
" 显示寄存器内容，根据copy顺序，分别是0~9寄存器
nnoremap reg :reg<CR>
" -------------- 寄存器(register)map==>使用r作为prefix --------------





" -------------- IDEA操作(action)map==>使用a作为prefix==>使用先导g键盘 --------------
" -- Map IDE actions to IdeaVim -- https://jb.gg/abva5t
" -- Action List使用命令查看:actionlist
"" Map \r to the Reformat Code action
map gf <Action>(ReformatCode)
map gd <Action>(ShowErrorDescription)
map ga <Action>(ShowIntentionActions)
map gi <Action>(GotoImplementation)
map go <Action>(GotoDeclaration)
map gu <Action>(ShowUsages)
map gs <Action>(GotoSuperMethod)
map ge <Action>(GotoNextError)
map <leader>c <Action>(Git.Commit.Stage)
map <leader>b <Action>(Back)
map <leader>f <Action>(Forward)
map <leader>r <Action>(Run)
map <leader>d <Action>(Debug)
map <leader><leader>f <Action>(FindInPath)
